/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgba(0,0,0,0);--un-ring-shadow:0 0 rgba(0,0,0,0);--un-shadow-inset: ;--un-shadow:0 0 rgba(0,0,0,0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgba(147,197,253,0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.fixed{position:fixed;}
.m254\.22{margin:63.555rem;}
.m297\.54{margin:74.385rem;}
.m332\.97{margin:83.2425rem;}
.m40\.172{margin:10.043rem;}
.mx-auto{margin-left:auto;margin-right:auto;}
.ml-2{margin-left:0.5rem;}
.block{display:block;}
.h-16{height:4rem;}
.h-8{height:2rem;}
.max-w-7xl{max-width:80rem;}
.w-screen{width:100vw;}
.flex{display:flex;}
.items-center{align-items:center;}
.justify-between{justify-content:space-between;}
.bg-neutral-1{--un-bg-opacity:1;background-color:rgba(245,245,245,var(--un-bg-opacity));}
.fill-neutral-5{--un-fill-opacity:1;fill:rgba(115,115,115,var(--un-fill-opacity));}
.fill-sky-4,
.hover\:fill-sky-4:hover{--un-fill-opacity:1;fill:rgba(56,189,248,var(--un-fill-opacity));}
.px-2{padding-left:0.5rem;padding-right:0.5rem;}
.py-5{padding-top:1.25rem;padding-bottom:1.25rem;}
.py-6{padding-top:1.5rem;padding-bottom:1.5rem;}
.text-2xl{font-size:1.5rem;line-height:2rem;}
.font-bold{font-weight:700;}
.leading-16{line-height:4rem;}
.hover\:text-sky-4:hover{--un-text-opacity:1;color:rgba(56,189,248,var(--un-text-opacity));}
.text-neutral-5{--un-text-opacity:1;color:rgba(115,115,115,var(--un-text-opacity));}
.text-neutral-8{--un-text-opacity:1;color:rgba(38,38,38,var(--un-text-opacity));}
.hover\:opacity-70:hover{opacity:0.7;}
.transition-all{transition-property:all;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
@media (prefers-color-scheme: dark){
.\@dark\:bg-neutral-8{--un-bg-opacity:1;background-color:rgba(38,38,38,var(--un-bg-opacity));}
.\@dark\:fill-neutral-4{--un-fill-opacity:1;fill:rgba(163,163,163,var(--un-fill-opacity));}
.\@dark\:text-neutral-1{--un-text-opacity:1;color:rgba(245,245,245,var(--un-text-opacity));}
.\@dark\:text-neutral-4{--un-text-opacity:1;color:rgba(163,163,163,var(--un-text-opacity));}
}