<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MyBlog</title>
  <link href="/uno.css" rel="stylesheet">
  <link href="/tailwind.css" rel="stylesheet">
</head>

<body class="bg-neutral-2 text-neutral-5 @dark:bg-neutral-8 @dark:text-neutral-4">
  <div class="fixed w-screen mt-5">
    <div class="flex justify-between max-w-7xl mx-auto">
      <a href="/" class="flex items-center hover:opacity-70 transition-all">
        <img class="w-10" src="/logo.svg">
        <div class="text-neutral-1 text-2xl font-bold ml-2">iced</div>
      </a>
      <div class="flex">
        test
      </div>
    </div>
  </div>
  <div class="pt-10">
    {% block content %} {% endblock %}
  </div>
</body>

</html>